name: Create PDFs

on:
  schedule:
    - cron: '0 0 * * *' # Midnight
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Run Python script
        env:
          BNF_USER: ${{ secrets.BNF_USER }}
          BNF_TOKEN: ${{ secrets.BNF_TOKEN }}
          B64_DRIVE_TOKEN: ${{ secrets.DRIVE_TOKEN }}
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          python run.py
