name: Create PDFs

on:
  schedule:
    - cron: '0 0 * * *' # Midnight
  workflow_dispatch:

jobs:
  create:
    runs-on: ubuntu-latest

    steps:
      - name: Check out code
        uses: actions/checkout@v3
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Run Python script
        env:
          BNF_USER: ${{ secrets.BNF_USER }}
          BNF_TOKEN: ${{ secrets.BNF_TOKEN }}
          B64_DRIVE_TOKEN: ${{ secrets.B64_DRIVE_TOKEN }}
        run: |
          echo "Start"
          pwd
          python run.py
      - name: Store PDFs as artifacts
        uses: actions/upload-artifact@v4
        with:
          name: pdfs-folders
          path: Journaux

  upload:
    needs: [create]
    runs-on: ubuntu-latest
    steps:
      - name: Download PDFs artifact
        uses: actions/download-artifact@v4
        with:
          name: pdfs-folders
          path: Journaux
      - name: Show structure
        run: |
          pwd
          ls
          cd Journaux
      - name: Mirror Directory Structure
        uses: adityak74/google-drive-upload-git-action@main
        with:
          credentials: ${{ secrets.B64_DRIVE_TOKEN }}
          filename: ./*/*.pdf
          folderId: 1nV8vTKtctcXa-iF8tp45pykTxzooY9Fn
          overwrite: "false"
          mirrorDirectoryStructure: "true"